/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem 0 6rem;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

/* Main content */
main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 6rem 0rem 6rem;;
}

#content {
  flex: 2;
  min-width: 300px;
}

article.card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin-bottom: 2rem;
}

article h2, article h3 {
  margin-bottom: 1rem;
  color: #222;
}

section{
  margin-bottom: 2rem;
}
.featured-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card {
  margin: 40px auto;
}

.team-table {
  margin: 0 auto;
  border-collapse: collapse;
}

.team-table td {
  padding: 20px;
  vertical-align: top;
}

.team-card {
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
}

.team-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.team-card p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

/* Aside */
aside {
  flex: 1;
  min-width: 250px;
  box-sizing: border-box;
}

aside .profile.card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  text-align: center; 
}

aside .profile img {
  max-width: 150px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto; 
}


aside table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

aside th, aside td {
  text-align: left;
  padding: 0.5rem 0;
  font-weight: 400;
}

aside .me-wrapper table th img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}


aside th {
  color: #555;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #666;
  margin-top: 2rem;
  box-shadow: 0 -1px 4px rgba(0,0,0,0.05);
}

/* Responsive */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
